<!doctype html>
<html>
  <head>
    <title> {{ .Site.Title }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
    <script src="{{ .Site.BaseURL }}/js/fontawesome-all.js"></script>

    <!-- Social media metadata -->
    <meta property="og:url"                content="https://altruismeefficacequebec.org/" />
    <meta property="og:title"              content="Altruisme Efficace Québec" />
    <meta property="og:description"        content="Vous aide à faire le bien, mieux" />
    <meta property="og:image"              content="https://altruismeefficacequebec.org/img/eaqc.jpg" />
    
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,400" rel="stylesheet">
    <link rel="icon" href="https://altruismeefficacequebec.org/favicon.ico" />
    
    {{ template "_internal/google_analytics_async.html" . }}
  </head>
  <body>

  {{ partial "navbar.html" . }}
