{{ partial "header.html" . }}

<div class="container-fluid no-gutter">
  <div id="top-banner" class="row banner-section" style="background-image:url('{{ .Site.BaseURL}}/img/contact-banner.jpg')">
    <div class="all-center"><span class="banner-section-text">{{ .Site.Params.pages.contactPageHeader }}</span></div>
  </div>
</div>

<section class="text-center">
  <p>{{ .Site.Params.contactform.leadText }} <a href="mailto:{{ .Site.Params.groupinfo.contactEmail }}">{{ .Site.Params.groupinfo.contactEmail }}</a></p>
</section>

{{ partial "footer.html" . }}